<div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Order ID </mat-header-cell>
            <mat-cell *matCellDef="let order"> {{order.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productname">
            <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
            <mat-cell *matCellDef="let order"> {{order.product.productname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let order"> {{order.newOrSent}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="orderDate">
            <mat-header-cell *matHeaderCellDef> Order Date </mat-header-cell>
            <mat-cell *matCellDef="let order"> {{order.orderdate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let order">

                <!-- <button mat-icon-button *ngIf="!this.displayType" matTooltip="Show details">
                    <mat-icon>info</mat-icon>
                </button> -->
                <button mat-icon-button *ngIf="this.displayType" matTooltip="Change status" 
                            (click)="changeOrderStatus(order.id, order.newOrSent)">
                    <mat-icon>compare_arrows</mat-icon>
                </button>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>