<div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="productname">
            <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
            <mat-cell *matCellDef="let product"> {{product.productname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let product">

                <button mat-icon-button matTooltip="Delete Product" *ngIf="this.displayType" (click) = "delete(product.id)">
                    <mat-icon>clear</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Edit Product" *ngIf="this.displayType" (click) = "edit(product.id, product.productname)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Order Product" *ngIf="!this.displayType" (click) = "order(product.id, product.productname)">
                    <mat-icon>add</mat-icon>
                </button>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>

<button mat-fab class="float-button" matTooltip="Add new product" *ngIf="this.displayType" (click)="add()" color="primary">
    <mat-icon>add</mat-icon>
</button>